<!DOCTYPE html>
<html>
<head>
  <title>Catstagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
  <header>
    <div class="head">
    <%= current_user.username %>
    <script type="text/javascript">
      CURRENT_USER_ID = <%= current_user.id %>
    </script>
    <%= button_to "Log Out", session_url, method: :delete%>
    <div class="head">
  </header>
  <% end %>
<%= render "layouts/errors" %>

<%= yield %>


</body>
</html>
